{% extends 'base.html.twig' %} {% block h1 %}Les annonces{% endblock %} {% block title %}Déposé une annonces{% endblock %} {% block body %} {% block header%}

<div aria-label="breadcrumb">
    <ol class="breadcrumb mt-0">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">Anonnces</a></li>
    </ol>
</div>

<!-- slogan -->
<div class="jumbotron">

    <h2>Nos Dernières Annonces</h2>
    <p class="soustext">Attention! Vous risquez de trouver votre bonheur!</p>



</div>
{% endblock %} {% if adverts is empty %}

<div class="col-12 alert alert-danger" role="alert">
    Aucune annonce trouvée<a href="{{path('home')}}"> (Retour)</a>
</div>

<div class="row d-flex justify-content-center m-3">
    <a href="{% if session.get('account') is not null %}{{ path('addadvert') }}{% else %}{{path('api_login')}}{% endif %}" class="btn btn-primary btn-lg btn-block col-6">Déposer une annonce</a>
</div>

{% else %}

<div class="row m-5 ">
    {% for advert in adverts %}



    <div class="col-md-4">
        <div class="card mb-4 box-shadow  {% if session.get('account') is not null %}{% if session.get('account').id == advert.author.id %}border border-info {% endif %}{% if jobs is defined and not null %}{% for job in jobs %}{% if job.advert.id == advert.id and job.author.id == session.get('account').id  %}border border-secondary{% endif %}{% endfor %}{% endif %}{% endif %}">
            {% if advert.contractType == "cdi" %}

            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 300px; width: 100%; display: block;" src=" {{ asset('images/cdi.jpg') }}" data-holder-rendered="true"> {% endif %} {% if advert.contractType == "cdd" %}

            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 300px; width: 100%; display: block;" src="{{ asset('images/cdd.png') }}" data-holder-rendered="true"> {% endif %} {% if advert.contractType == "intérim" %}

            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 300px; width: 100%; display: block;" src=" {{ asset('images/interim.jpg') }}" data-holder-rendered="true"> {% endif %} {% if advert.contractType == "freelance" %}
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 300px; width: 100%; display: block;" src="{{ asset('images/freelance.png') }}" data-holder-rendered="true"> {% endif %}
            <div class="card-body">
                <p class="card-text">Annonce N°:{{advert.id}}</p>
                <p class="card-text">Titre: {{advert.title}}</p>
                <p class="card-text" id="height-max">Description: {{advert.content}}</p>

                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">Déposé par: {{advert.author.name}}</small>
                    <small class="text-muted">Le {{advert.postdate|date('d /m /Y')}}.</small>
                </div>
                <a class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center" href="{{ path('advert', { id : advert.id }) }}">Voir</a>
            </div>
            {% if session.get('account') is not null %} {% if session.get('account').id == advert.author.id %}
            <span class="badge badge-info">Vous êtes l'auteur</span>
             {% endif %}

                {% if jobs is defined and not null %}

                    {% for job in jobs %}

                        {% if advert.id == job.advert.id and session.get('account').email == job.author.email and job.status.id == 1 %}
                            <span class="badge badge-secondary">Candidature envoyé</span> 
                        {% endif %} 

                        {% if advert.id == job.advert.id and session.get('account').email == job.author.email and job.status.id == 2 %}
                            <span class="badge badge-danger">Candidature refusé</span> 
                        {% endif %}

                        {% if advert.id == job.advert.id and session.get('account').email == job.author.email and job.status.id == 3 %}
                            <span class="badge badge-success">Candidature Accepté</span>
                        {% endif %} 

                    {% endfor %}

                    {% if jobClosed is defined and not null %}
                        
                            {% for jobC in jobClosed %}
                                {% if jobC.status.id == 4 or jobC.status.id == 5 %}
                                    {% if jobC.author.id == session.get('account').id  %}
                                        {% if jobC.advert.id == advert.id %}
                                            <span class="badge badge-info">Projet Clos</span> 
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                       
                    {% endif %}

                {% endif %} 
            {% endif %}
        </div>
    </div>




    {% endfor %}
</div>

<div class="row d-flex justify-content-center m-3">
    <a href="{% if session.get('account') is not null %}{{ path('addadvert') }}{% else %}{{path('api_login')}}{% endif %}" class="btn btn-primary btn-lg btn-block col-6">Déposer une annonce</a>
</div>


{% endif %} {% endblock %}
