{% extends 'base.html.twig' %}
{% block h1 %}Inscription{% endblock %} {% block title %}Inscription{%
endblock %} 
{% block body %}

<!-- fil d'arianne -->
<div aria-label="breadcrumb">
	<ol class="breadcrumb mt-0">
		<li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
		<li class="breadcrumb-item active" aria-current="page"><a href="#">Inscription</a></li>
  	</ol>
</div>

 <!-- slogan -->
 <div class="jumbotron">

          {% if success is not defined %}
            <h2>Inscrivez-vous ici</h2>
         
            {% else  %}
        
            <h2>Bienvenue sur le site</h2>
            <p>Pensez à activer votre compte par mail</p>
          {% endif %}
    </div>

   
{# message d'erreur #}
{% if errors is defined %}
    
{% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    
{% endfor %}

{% endif %}

{# message de succes #}
{% if success is defined %}

<div class="alert alert-success" role="alert">
        {{ success }}
    </div>
    <div class="row d-flex justify-content-center">
    <a href="{{path('api_login')}}" class="btn btn-primary btn-lg btn-block col-6"> Connexion</a>
  </div>
{% endif %}




   {# si success n'est pas deffinit #}
    {% if success is not defined %}
    
    <div class="m-5">
    {# formulaire #}
    <form action="{{ path('register') }}" method="POST">
            <div class="form-row offset-2">
              <div class="col-md-4 mb-3">
                <label for="validationDefault01"></label>
                <input type="text"  name="firstname" class="form-control" id="validationDefault01" placeholder="Prenom"  required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault02"></label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Nom"  name="name"  required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername"></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                  </div>
                  <input type="text" class="form-control" id="validationDefaultUsername"  name="email" placeholder="Email" aria-describedby="inputGroupPrepend2" required>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">

                    <label for="exampleInputPassword1"></label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Mot de passe" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="exampleInputPassword1"></label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="confirm_password" placeholder="Confirmation" required>
                </div>    

            </div>
           
        <!-- recaptcha -->
          <div class="g-recaptcha" data-sitekey="{{google_token}}"></div>
  <!-- bouton d'inscription -->
          <button   class="btn btn-primary btn-lg btn-block col-6" type="submit">S'inscrire</button>
        </form>
      </div>

</div>   
    
    {% endif %}

    
    
    


    <script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock %}


{% block javascript %}{% endblock %}

